<ion-view title="Doação" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon ion-android-options"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="doaO-heading1" style="color:#000000;">Procure a instituição</h1>
    <form id="doaO-form4" class="list">
      <label class="item item-input" id="doaO-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Instituição">
      </label>
      <ion-list id="doaO-list1">
        <ion-item id="doaO-list-item5">Item 1</ion-item>
        <ion-item id="doaO-list-item6">Item 2</ion-item>
        <ion-item id="doaO-list-item7">Item 3</ion-item>
      </ion-list>
    </form>
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <div id="doaO-button-bar1" class="button-bar">
      <a ui-sref="doaOEmDinheiro" id="doaO-button5" class="button button-positive  button-block">Doar dinheiro</a>
      <a ui-sref="doaOMaterial" id="doaO-button9" class="button button-positive  button-block">Doar material</a>
    </div>
  </ion-content>
</ion-view>