<ion-view title="Doação Material" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="doaOMaterial-heading2" style="color:#000000;font-weight:600;">Instituição escolhida</h1>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <h3 id="doaOMaterial-heading3" style="color:#000000;font-weight:400;">Estoque</h3>
    <ion-list id="doaOMaterial-list2">
      <ion-item id="doaOMaterial-list-item11">Item
        <span class="item-note">Quantidade em estoque</span>
      </ion-item>
      <ion-item class="item-divider" id="doaOMaterial-list-item-divider1"> </ion-item>
      <ion-item class="item-icon-left item-icon-right assertive" id="doaOMaterial-list-item12">
        <i class="icon ion-alert"></i>Item 1
        <span class="item-note">200 kg</span>
        <i class="icon ion-android-add"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="doaOMaterial-list-item13">
        <i class="icon No Icon"></i>Item 2
        <span class="item-note">100 kg</span>
        <i class="icon ion-android-add"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <button id="doaOMaterial-button8" class="button button-positive  button-block">Tap me!</button>
  </ion-content>
</ion-view>